.form_card {
  margin: 1rem;
  border: 0.2rem solid $second-border-color;
  border-radius: 0.5rem;
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  form {
    width:100%;
    padding: 0.5rem;
  }
  figure, img  {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

.form_card_invalid {
  border: 0.2rem solid $error-color;
}

.form_button {
  background-color: $main-color;
  border: 1px solid $main-color;
  border-radius: 0.5rem;
  color: $second-font-color;
  font-size: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
  outline: none;
  text-align: center;
  width: 100px;
  cursor: pointer;
  &:hover {
    background-color: $main-hover-color;
  }
  &:active {
    background-color: $main-active-color;
  }
  &:disabled {
    background-color: $disabled-color;
    border: none;
    color: $disabled-font-color;
    cursor: not-allowed;
  }
}

.reset_password {
  text-align: center;
  width: 100%;
  a {
    color:$anchor-color;
    cursor: pointer;
  }
}