.navigation {
    background-color: $main-color;
    padding: 0 16px;
    ul {
        display: flex;
        padding:0;
        li{
            list-style: none;
            margin: 0 16px;
            color: $second-font-color;
            font-size: 1.2rem;
            a {
                color: $second-font-color;
                text-decoration: none;
                &:hover {
                        color: $main-hover-color;
                      }
                }
            }
        }
    .active_link {
        color: $main-active-color;
    }
}