.form_input {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  label, input, select {
    display: block;
    width: 100%;
  }
  input, select {
    outline: none;
    padding: 8px;
    &::placeholder {
      color: #dddddd;
    }
    border: 0.1rem solid rgb(179, 179, 179);
    border-radius:0.5rem ;
    &:focus {
      border: 2px solid black;
    }
    &:focus+p {
      display: none;
    }
  }
  label {
    padding: 8px 0;
  }
  input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
  textarea {
    resize: none;
  }
  textarea~p {
    text-align: center;
  }
  .form_input_invalid {
    border: 1px solid red;
    &:focus {
      border: 2px solid black;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  input[type=number] {
    -moz-appearance: textfield;
  }
}

.form_input_error {
  color: red;
  padding: 0;
  margin: 0 8px;
  width:100%;
}

