//fonts colors
$main-font-color: rgb(0, 0, 0);
$second-font-color: rgb(255,255,255);
$disabled-font-color: rgba(255, 255, 255, 0.329);
$anchor-color:rgb(48, 48, 248);

//background colors
$main-color: #8ABF17;
$main-active-color: #5e8607;
$main-hover-color: #66881d;
$disabled-color: #b9c0aa;

//shadows colors
$main-shadow-color: rgba(0, 0, 0, 0.26);

//borders colors
$error-color: red;
$main-border-color: rgb(0, 0, 0);
$second-border-color: #dddddd;