.history_table {
  border-bottom: 1px solid black;
  padding: 0 2rem;
}
.table_title {
  font-size:1.5rem;
  font-weight: bold;
}

.history_cart_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: auto;
}

