html {
    color: black;
    font-size: 16px;
}

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

main {
  margin-top: 58px;
}

h1, h2 {
  text-align: center;
}

@media (max-width: 960px) {
  html {
    font-size:14px;
  }
  main {
    margin-top: 31px;
  }
}